<!DOCTYPE html>
<html>
    <head>
        <title>Blog de José Burgos</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Blog de José Burgos</a></h1>
            <p>Notas, cuentos, poemas y otras vueltas</p>
            <hr>
        </header>

        {% for post in posts %}
            <article>
                <br>
                <time>published: {{ post.published_date }}</time>
                <h2><a href="">{{ post.title }}</a></h2>
                <p>{{post.text|linebreaksbr}}</p>
                <br>
            </article>
        {% endfor %}
    </body>
</html>